@model Concessionaria.Dominio.Venda
@using Concessionaria.Dominio
@{
    ViewBag.Title = "Cadastrar";
    
}

<h2>Cadastrar Venda</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        

        <div class="form-group">
            <label class="control-label col-md-2" for="Venvalor">Valor:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Venvalor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Venvalor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Vendatav">Data da venda:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vendatav, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vendatav, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CarPlaca">Veículo:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Carro.Carplaca, (List<SelectListItem>)ViewBag.carros, "Selecione um carro", 
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Carro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Clicpf">Carro:</label>
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.Cliente.Clicpf, (List<SelectListItem>)ViewBag.clientes, "Selecione um cliente", new {@class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Carro, "", new { @class = "text-danger" })*@
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vender" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
