@model IEnumerable<Concessionaria.Dominio.Login>
@{ Layout = null; }

<h2>Lista de Logins</h2>
<p>
    <a href="#" onclick="LoginJs.novoCadastro()">Novo Login</a>
</p>
<table class="table">
    <tr>
        <th>
            Usuário
        </th>
        <th>
            Senha
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Logusuar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logsenha)
            </td>
            <td>
                <a href="#" onclick="LoginJs.novaEdicao(@item.Logusuar)">Editar</a> |
                <a href="#" onclick="LoginJs.detalhar(@item.Logusuar)">Detalhar</a> |
                <a href="#" onclick="LoginJs.novaExlusao(@item.Logusuar)">Excluir</a>
                @*@Html.ActionLink("Editar", "OpcionalJs.editar()", new {id = item.Opcid}) |
                    @Html.ActionLink("Detalhes", "Detalhes", new {id = item.Opcid}) |
                    @Html.ActionLink("Excluir", "Excluir", new {id = item.Opcid})*@
            </td>
        </tr>
    }
</table>
