@using Concessionaria.Dominio;
@model Carro
@{ ViewBag.Title = "Cadastrar Carro";
}


<h2>Cadastrar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="formCadastrar">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-md-3" for="Carplaca">Placa:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Carplaca, new { htmlAttributes = new { @class = "form-control", onkeypress = "NumsNChars('#ErroCarplaca')" } })
                    @Html.ValidationMessageFor(model => model.Carplaca, "", new { @class = "text-danger" })
                    <div id="ErroCarplaca"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Carmodel">Modelo:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Carmodel, new { htmlAttributes = new { @class = "form-control", onkeypress = "NumsNChars('#ErroCarmodel')" } })
                    @Html.ValidationMessageFor(model => model.Carmodel, "", new { @class = "text-danger" })
                    <div id="ErroCarmodel"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Carmarca">Marca:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Carmarca, new { htmlAttributes = new { @class = "form-control", onkeypress = "Chars('#ErroCarmarca')" } })
                    @Html.ValidationMessageFor(model => model.Carmarca, "", new { @class = "text-danger" })
                    <div id="ErroCarmarca"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Carcor">Cor:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Carcor, new { htmlAttributes = new { @class = "form-control", onkeypress = "Chars('#ErroCarcor')" } })
                    @Html.ValidationMessageFor(model => model.Carcor, "", new { @class = "text-danger" })
                    <div id="ErroCarcor"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Carano">Ano:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Carano, new { htmlAttributes = new { @class = "form-control", onkeypress = "Nums('#ErroCarano')" } })
                    @Html.ValidationMessageFor(model => model.Carano, "", new { @class = "text-danger" })
                    <div id="ErroCarano"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Carcombu">Combustível:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Carcombu, new { htmlAttributes = new { @class = "form-control", onkeypress = "Chars('#ErroCarcombu')" } })
                    @Html.ValidationMessageFor(model => model.Carcombu, "", new { @class = "text-danger" })
                    <div id="ErroCarcombu"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Cartipo">Tipo:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Cartipo, new { htmlAttributes = new { @class = "form-control", onkeypress = "Chars('#ErroCartipo')" } })
                    @Html.ValidationMessageFor(model => model.Cartipo, "", new { @class = "text-danger" })
                    <div id="ErroCartipo"></div>
                </div>
            </div>

        </div>



        <div class="col-md-4 form-group">
            <label class="control-label col-md-3" for="Caropcio">Opcionais:</label>
            <div class="col-md-10">
                @foreach (var item in (IEnumerable<Opcional>)ViewBag.Opcional)
                {
                    <div>
                        <input type="checkbox" name="opcionais" id="Opcional_@item.Opcid" value="@item.Opcid" />
                        <label for="Opcional_@item.Opcid"> @item.Opcdescr </label>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}