@model Concessionaria.Dominio.Venda

@{
    ViewBag.Title = "DetalhesVendidos";
}

<h2>Detalhe de Venda</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Placa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Carplaca)
        </dd>

        <dt>
            Modelo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Carmodel)
        </dd>

        <dt>
            Cor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Carcor)
        </dd>

        <dt>
            Ano:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Carano)
        </dd>

        <dt>
            Marca:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Carmarca)
        </dd>

        <dt>
            Combustível:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Carcombu)
        </dd>

        <dt>
            Tipo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carro.Cartipo)
        </dd>
        <br/>
        <dt>
            ID:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venid)
        </dd>

        <dt>
            Valor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venvalor)
        </dd>

        <dt>
            Data da venda:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendatav)
        </dd>
        <br />
        <dt>
            Nome Cliente:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Clinome)
        </dd>

        <dt>
            CPF:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Clicpf)
        </dd>

        <dt>
            Telefone:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Clitelef)
        </dd>        

    </dl>
</div>
<p>    
    @Html.ActionLink("Voltar", "Index")
</p>
