@model Concessionaria.Dominio.Opcional
@{
    ViewBag.Title = "Cadastrar";
    Layout = null;
}

<h2>Cadastrar Opcional</h2>

<div>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" for="Opcdescr">Descrição:</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Opcdescr, new
                {
                    htmlAttributes = new { @class = "form-control", onkeypress = "Chars('#ErroOpcdescr')", onblur = "vlDescricao()" }
                })
                @Html.ValidationMessageFor(model => model.Opcdescr, "", new { @class = "text-danger" })
                <div id="ErroOpcdescr"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Cadastrar" class="btn btn-default" id="submit" disabled="disabled" onclick="OpcionalJs.cadastrar('@Url.Action("CadastrarOpcional")');" />
                <div id="Msgopcional"></div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
