@{ ViewBag.Title = "Index"; }

<script src="~/Validacoes/OpcionalJS.js?d=@DateTime.Now.Ticks" type="text/javascript"></script>
<script>
    OpcionalJs.init({
        listar: '@Url.Action("Listar")',
        novoCadastro: '@Url.Action("Cadastrar")',
        cadastrar: '@Url.Action("CadastrarOpcional")',
        novaEdicao: '@Url.Action("Editar")',
        editar: '@Url.Action("EditarOpcional")',
        detalhar: '@Url.Action("Detalhes")',
        novaExclusao: '@Url.Action("Excluir")',
        excluir: '@Url.Action("ExcluirOpcional")'
    });
</script>

<h1>Opcionais:</h1>
<div id="divGrid"><img src="https://media.tenor.com/images/d6cd5151c04765d1992edfde14483068/tenor.gif" style="width: 100px;height: 100px;margin: 0 auto;display: block;"></div>
<div id="divDados"></div>
