@model IEnumerable<Concessionaria.Dominio.Opcional>
@{ Layout = null; }

<h2>Lista de Opcionais</h2>
<p>
    <a href="#" onclick="OpcionalJs.novoCadastro()">Novo Opcional</a>
</p>
<table class="table">
    <tr>
        <th>
            ID Opcional
        </th>
        <th>
            Descrição
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opcid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opcdescr)
            </td>
            <td>
                <a href="#" onclick="OpcionalJs.novaEdicao(@item.Opcid)">Editar</a> |
                <a href="#" onclick="OpcionalJs.detalhar(@item.Opcid)">Detalhar</a> |
                <a href="#" onclick="OpcionalJs.novaExlusao(@item.Opcid)">Excluir</a>
                @*@Html.ActionLink("Editar", "OpcionalJs.editar()", new {id = item.Opcid}) |
                @Html.ActionLink("Detalhes", "Detalhes", new {id = item.Opcid}) |
                @Html.ActionLink("Excluir", "Excluir", new {id = item.Opcid})*@
            </td>
        </tr>
    }
</table>
